<h3 class="text-center">We found something...</h3>
<table class="table">
  <thead>
    <tr>
      <th>Display Name</th>
      <th>Broadcasting Game</th>
      <th>Language</th>
      <th>Streaming Since</th>
    </tr>
  </thead>
  <tbody>    
    <% @channels.each do |channel| 
      is_live = channel['is_live'].present?%>
      <tr class="<%= is_live && 'table-success'%>">
        <td>
        <%= link_to twitch_game_path(channel['broadcaster_login']), target: "_blank" do%>
          <%= image_tag(channel['thumbnail_url'], size: "50x50")%>
          <%= channel['display_name'].titleize %>
          <span class="badge bg-danger"><%= 'Live' if is_live %></span>  
          <span class="badge bg-warning"><%= 'In Top 20' if channel['in_top_20'] %></span>
        <%end%>
        </td>
        <td><%= channel['game_name'] %></td>
        <td><%= channel['broadcaster_language'] %></td>
        <td><%= formated_time(channel['started_at']) %></td>
      </tr>  
    <%end%>
  </tbody>
</table>