<h2>History</h2>
<ul>
  <% @versions.each do |version| %>
    <li>
      <%= l(version.created_at, format: "%-d.%m.%Y %H:%M:%S %Z") %><br/>
      <b>Event ID: </b> <%= version.id %><br/>
      <b>Target: </b> <%= version.item_type %>
      <small>(id: <%= version.item_id %>)</small>;<br/>
      <b>Action: </b> <%= version.event %>;<br/>
      <div>
        <b>More info:</b>
        <pre><%= version.object %></pre>
      </div>
    </li>
  <% end %>
</ul>
